<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<div th:replace="fragments/header"/>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
    <div th:replace="fragments/sidebar"/>
    <!-- / Menu -->
    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->
      <div th:replace="fragments/navbar"/>
      <!-- / Navbar -->

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Stocks</span></h4>

          <!-- Basic Bootstrap Table -->
          <div class="card">
            <div class="table-responsive text-nowrap">
              <a th:href="@{/stocks/add}" type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-custom-class="tooltip-primary">
                Add
              </a>
              <table class="table">
                <thead>
                <tr>
                  <th>SKU</th>
                  <th>Region</th>
                  <th>Quantity</th>
                  <th>Last modified</th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr  th:each="stock: ${stocks}">
                  <td th:text="${stock.sku}"></td>
                  <td th:text="${stock.region}"></td>
                  <td th:text="${stock.quantity}"></td>
                  <td th:text="${stock.lastModifiedDate}"></td>
                  <td>
                    <!-- Primary -->
                    <form th:action="@{/stocks/delete/__${stock.id}__}" method="post">
                      <button type="submit">
                        <i class="bx bx-trash me-1"></i>
                      </button>
                    </form>
                  </td>
                  <td>
                    <form th:action="@{/stocks/update/__${stock.id}__}" method="get">
                      <button type="submit">
                        <i class="bx bx-edit-alt me-1"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--/ Basic Bootstrap Table -->
        </div>
        <!-- / Content -->
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>
  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
<div th:replace="fragments/scripts"/>
</body>
</html>
